aside.main-sidebar.sidebar-dark-primary.elevation-4
  // Brand Logo
  a.brand-link(href='index3.html')
    img.brand-image.img-circle.elevation-3(src='/images/logo.png' alt='AdminLTE Logo' style='opacity: .8')
    span.brand-text.font-weight-light QuizEm
  // Sidebar
  .sidebar.os-host-overflow-y
    // Sidebar Menu
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu')
        //
          Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library
        li.nav-item
          a.nav-link(href='/')
            i.nav-icon.fas.fa-th
            p
              | Dashboard
              span.right.badge
        li.nav-item.menu-open
          a.nav-link(href='/')
            i.nav-icon.fas.fa-tachometer-alt
            p
              | Pages
              i.right.fas.fa-angle-left
          ul.nav.nav-treeview
            li.nav-item
              if title =='Users'
                a.nav-link.active(href='/users')
                  i.far.fa-circle.nav-icon
                  p Users
              else 
                a.nav-link(href='/users')
                  i.far.fa-circle.nav-icon
                  p Users
            li.nav-item
              if title =='Quiz'
                a.nav-link.active(href='/quiz')
                  i.far.fa-circle.nav-icon
                  p Quiz
              else 
                a.nav-link(href='/quiz')
                  i.far.fa-circle.nav-icon
                  p Quiz
            li.nav-item
              if title =='Student'
                a.nav-link.active(href='/student')
                  i.far.fa-circle.nav-icon
                  p Students
              else 
                a.nav-link(href='/student')
                  i.far.fa-circle.nav-icon
                  p Students
            li.nav-item
              if title =='Student'
                a.nav-link.active(href='/category')
                  i.far.fa-circle.nav-icon
                  p Category
              else 
                a.nav-link(href='/category')
                  i.far.fa-circle.nav-icon
                  p Category
            li.nav-item
              if title =='Student'
                a.nav-link.active(href='/report')
                  i.far.fa-circle.nav-icon
                  p Report
              else 
                a.nav-link(href='/report')
                  i.far.fa-circle.nav-icon
                  p Report
        li.nav-item
          a.nav-link(href='#')
            i.nav-icon.fas.fa-th
            p
              | Configuration
              span.right.badge
    // /.sidebar-menu
    // /.sidebar