.sidebar.border.border-right.col-md-3.col-lg-2.p-0.bg-body-tertiary
              #sidebarMenu.offcanvas-md.offcanvas-end.bg-body-tertiary(tabindex='-1' aria-labelledby='sidebarMenuLabel')
                .offcanvas-header
                  h5#sidebarMenuLabel.offcanvas-title Company name
                  button.btn-close(type='button' data-bs-dismiss='offcanvas' data-bs-target='#sidebarMenu' aria-label='Close')
                .offcanvas-body.d-md-flex.flex-column.p-0.pt-lg-3.overflow-y-auto
                  ul.nav.flex-column
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2.active(aria-current='page' href='/')
                        svg.bi
                          use(xlink:href='#house-fill')
                        |                 Dashboard
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2(href='/users')
                        svg.bi
                          use(xlink:href='#file-earmark')
                        |                 Users
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2(href='/quizzes')
                        svg.bi
                          use(xlink:href='#cart')
                        |                 Quizzes
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2(href='/students')
                        svg.bi
                          use(xlink:href='#people')
                        |                 Students
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2(href='/reports')
                        svg.bi
                          use(xlink:href='#graph-up')
                        |                 Reports
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2(href='#')
                        svg.bi
                          use(xlink:href='#puzzle')
                        |                 Integrations

                  hr.my-3
                  ul.nav.flex-column.mb-auto
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2(href='/settings')
                        svg.bi
                          use(xlink:href='#gear-wide-connected')
                        |                 Settings
                    li.nav-item
                      a.nav-link.d-flex.align-items-center.gap-2(href='#')
                        svg.bi
                          use(xlink:href='#door-closed')
                        |                 Sign out
