extends layout

block content
    main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
        h1.h2 User list
        .btn-toolbar.mb-2.mb-md-0
          .btn-group.me-2
            button.btn.btn-sm.btn-outline-secondary(type='button') Share
            button.btn.btn-sm.btn-outline-secondary(type='button') Export
          button.btn.btn-sm.btn-outline-secondary.dropdown-toggle.d-flex.align-items-center.gap-1(type='button')
            svg.bi
              use(xlink:href='#calendar3')
            |             This week

      .table-responsive.small
        table.table.table-striped.table-sm
          thead
            tr
              th(scope='col') #
              th(scope='col') Header
              th(scope='col') Header
              th(scope='col') Header
              th(scope='col') Header
          tbody
            tr
              td 1,001
              td random
              td data
              td placeholder
              td text
            tr
              td 1,002
              td placeholder
              td irrelevant
              td visual
              td layout
            tr
              td 1,003
              td data
              td rich
              td dashboard
              td tabular
            tr
              td 1,003
              td information
              td placeholder
              td illustrative
              td data
            tr
              td 1,004
              td text
              td random
              td layout
              td dashboard
            tr
              td 1,005
              td dashboard
              td irrelevant
              td text
              td placeholder
            tr
              td 1,006
              td dashboard
              td illustrative
              td rich
              td data
            tr
              td 1,007
              td placeholder
              td tabular
              td information
              td irrelevant
            tr
              td 1,008
              td random
              td data
              td placeholder
              td text
            tr
              td 1,009
              td placeholder
              td irrelevant
              td visual
              td layout
            tr
              td 1,010
              td data
              td rich
              td dashboard
              td tabular
            tr
              td 1,011
              td information
              td placeholder
              td illustrative
              td data
            tr
              td 1,012
              td text
              td placeholder
              td layout
              td dashboard
            tr
              td 1,013
              td dashboard
              td irrelevant
              td text
              td visual
            tr
              td 1,014
              td dashboard
              td illustrative
              td rich
              td data
            tr
              td 1,015
              td random
              td tabular
              td information
              td text


