extends layout

block content
    main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
              .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
                h1.h2 Dashboard
                .btn-toolbar.mb-2.mb-md-0
                  .btn-group.me-2
                    button.btn.btn-sm.btn-outline-secondary(type='button') Share
                    button.btn.btn-sm.btn-outline-secondary(type='button') Export
                  button.btn.btn-sm.btn-outline-secondary.dropdown-toggle.d-flex.align-items-center.gap-1(type='button')
                    svg.bi
                      use(xlink:href='#calendar3')
                    |             This week
              canvas#myChart.my-4.w-100(width='1507' height='636' style='display: block; box-sizing: border-box; height: 424px; width: 1004px;')

