extends ../layout
block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Quiz
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item.active Quiz

  section.content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary
            .card-header
              h3.card-title Create quiz
            form(action='/quiz/create' method='post')
              .card-body
                .row 
                  .col-md-12
                    .form-group
                      label(for='title') Title
                      input#title.form-control(type='text' name='title' placeholder='Title')
                  .col-md-12
                    .form-group
                      label(for='description') Description
                      textarea#description.form-control(name='description' placeholder='Description')
                  .col-md-6
                    .form-group
                      label(for='type') Type
                      select#type.form-control( name='type')
                        option(value='') Select type
                        option(value='Multiplechoice') Multiplechoice
                        option(value='FillGap') Fill Gap
                  .col-md-6
                    .form-group
                      label(for='category') Category
                      select#type.form-control( name='category')
                        option(value='') Select category
                        option(value='Education') Education
                        option(value='Gaming') Gaming
                  .col-md-6
                    .form-group
                      label(for='difficulty') Difficulity level
                      select#type.form-control( name='difficulty')
                        option(value='') Select level
                        option(value='easy') Easy
                        option(value='medium') Medium
                        option(value='hard') Hard
                  .col-md-6
                  .col-md-12
                    .card-footer
                      button.btn.btn-primary(type='submit') Submit 
                      &nbsp;&nbsp;
                      a.btn.btn-secondary(href='/quiz/') Cancel

