extends ../layout
block content
  section.content-header
    .container-fluid 
      .row.mb-2
        .col-sm-6
          h1 Users
        .col-sm-6
          ol.breadcrumb.float-sm-right
            li.breadcrumb-item
              a(href='#') Home
            li.breadcrumb-item.active Users

  section.content
    .container-fluid
      .row
        .col-md-12
          .card
            .card-header
              h3.card-title User list
            .card-body
              table.table.table-bordered
                thead
                  tr
                    th(style='width: 10px') #
                    th Name
                    th Email
                    th(style='width: 40px') Role
                tbody
                  tr
                    td 1.
                    td Update software
                    td
                      .progress.progress-xs
                        .progress-bar.progress-bar-danger(style='width: 55%')
                    td
                      span.badge.bg-danger 55%
                  tr
                    td 2.
                    td Clean database
                    td
                      .progress.progress-xs
                        .progress-bar.bg-warning(style='width: 70%')
                    td
                      span.badge.bg-warning 70%
                  tr
                    td 3.
                    td Cron job running
                    td
                      .progress.progress-xs.progress-striped.active
                        .progress-bar.bg-primary(style='width: 30%')
                    td
                      span.badge.bg-primary 30%
                  tr
                    td 4.
                    td Fix and squish bugs
                    td
                      .progress.progress-xs.progress-striped.active
                        .progress-bar.bg-success(style='width: 90%')
                    td
                      span.badge.bg-success 90%
            .card-footer.clearfix
              ul.pagination.pagination-sm.m-0.float-right
                li.page-item
                  a.page-link(href='#') «
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') »
